<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #C2EDFE;
    color: black;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    padding: 0 16px;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #C2EDFE;
    color: black;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: black;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: black;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }

    #img-logo{
      width: 52px;
    }

    .brand-logo{
      font-size: 22px;
      left: 54%;
    }
  }

  @media only screen and (min-width: 993px){
    .container {
        width: 85%;
    }
  }

  .sidenav-overlay{
    z-index: 996 !important;
  }
</style>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper" style="background-color: #35D9FC;">
      <img id="img-logo"
        width="58"
        alt="Logo"
        src="../assets/images/logo1.jpg"
        (click)="scrollToView('div_home')"
      />
      <a class="brand-logo" (click)="scrollToView('div_home')"> #IndiaFightsCorona</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a  (click)="scrollToView('div_home')">Home</a></li>
        <li><a  (click)="scrollToView('div_updates')">Updates</a></li>
        <li><a  (click)="scrollToView('div_state')">State Tracker</a></li>
        <li><a  (click)="scrollToView('div_qna')">FAQs</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <li><a  (click)="scrollToView('div_home')">Home</a></li>
        <li><a  (click)="scrollToView('div_updates')">Updates</a></li>
        <li><a  (click)="scrollToView('div_state')">State Tracker</a></li>
        <li><a  (click)="scrollToView('div_qna')">FAQs</a></li>
  </ul>
</div>
      

<div class="container" role="main" id="div_home">

  <div class="row" style="margin-top: 30px;">
    <div class="col s1"></div>
    <div class="col s12 m2">
      <span style="
      font-size: 18px;
  ">COVID-19 INDIA</span>
      <br/>
      <span style="
      font-size: 12px;
  ">as on <span id="spn_lastUpdated"></span></span>
    </div>
    <div class="col s6 m2" style="text-align: center;height: 105px;">
      <span style="
      display: block;
      font-weight: 600;
      font-size: 22px;
      color:salmon;
  ">Confirmed</span> <br/>
      <span id="spn_total" 
      style="
      font-weight: bolder;
      font-size: 50px;
      color: salmon;
  ">--</span> <br/>
  <span
  style="
  font-size: 20px;
  color: salmon;
"><span id="spn_totalD">0</span><i class="material-icons">arrow_upward</i></span>
    </div>
    <div class="col s6 m2" style="text-align: center;height: 105px;">
      <span
      style="
      display: block;
      font-weight: 600;
      font-size: 22px;
      color: #35D9FC;
  ">Active</span> <br/>
   <span  id="spn_active" style="
   font-weight: bolder;
   font-size: 50px;
   color: #35D9FC;
">--</span> 
    </div>
    <div class="col s6 m2" style="text-align: center;height: 105px;">
      <span  
      style="
      display: block;
      font-weight: 600;
      font-size: 22px;
      color: green;
  ">Recovered</span> <br/>
      <span id="spn_recovered" style="
      font-weight: bolder;
      font-size: 50px;
      color: green;
  ">--</span> <br/>
  <span  style="
  font-size: 20px;
  color: green;
"><span id="spn_recoveredD">0</span><i class="material-icons">arrow_upward</i></span>
    </div>
    <div class="col s6 m2" style="text-align: center;height: 105px;">
      <span
      style="
      display: block;
      font-weight: 600;
      font-size: 22px;
      color: darkgrey;
  ">Deceased</span> <br/>
      <span  id="spn_deceased" style="
      font-weight: bolder;
      font-size: 50px;
      color: darkgrey;
  ">--</span> <br/>
  <span style="
  font-size: 20px;
  color: darkgrey;
"><span id="spn_deceasedD">0</span><i class="material-icons">arrow_upward</i></span>
    </div>
    <div class="col s1"></div>
  <div class="col s12" style="text-align: center;">
    <a class="waves-effect waves-light btn" (click)="scrollToView('div_state')" style="
    background-color: #35D9FC;
">See State wise details</a>
  </div>
  </div>
  <div class="divider"></div>
  <div class="row" style="margin-top: 30px;">
    <div class="col s12 m6">
      <p style="font-size:20px;">What is <span style="
        font-size: 40px;
        font-weight: bold;
        color: red;">COVID-19?</span></p>
      <p style="font-size:20px;margin-top:15px;">It is an infectious disease causedcaused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). 
        The outbreak was identified in Wuhan, China, in December 2019. 
        The World Health Organization declared the outbreak to be a Public Health Emergency of International Concern on 30 January 2020, 
        and then recognized it as a pandemic on 11 March 2020.</p>
    </div>
    <div class="col s12 m6">
      <iframe height="315" src="https://www.youtube.com/embed/1APwq1df6Mw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%;"></iframe>
    </div>
  </div>
  <div class="divider" id="div_updates"></div>
  <div class="row" style="margin-top: 30px;">
    <h1 style="
    color: #35D9FC;
    font-size: 30px;
">Latest Updates</h1>
    <div class="col s12 m4" style="
    height: 800px;
    overflow-y: scroll;">
      <app-updates></app-updates>
    </div>
    <div class="col s12 m4">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMyGovIndia&tabs=timeline&width=360&height=800&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=235621277038602" width="360" height="800" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="col s12 m4">
      <a class="twitter-timeline" data-lang="en" data-width="100%" data-height="800" data-dnt="true" data-theme="light" href="https://twitter.com/COVIDNewsByMIB?ref_src=twsrc%5Etfw">Tweets by COVIDNewsByMIB</a>
    </div>
  </div>
  <div class="divider" id="div_state"></div>
  <div class="row" style="margin-top: 30px;">
    <h1 style="
    color: #35D9FC;
    font-size: 30px;
">State wise details</h1>
    <div class="col s2"></div>
    <div class="col s12 m8">
      <app-grid></app-grid>
    </div>
    <div class="col s2"></div>
  </div>
  <div>
    <div class="divider" id="div_qna"></div>
    <div class="row" style="margin-top: 30px;">
      <h1 style="
      color: #35D9FC;
      font-size: 30px;
  ">FAQs</h1>
      <app-questionanswers></app-questionanswers>
    </div>
  </div>
  <!-- Footer -->
  <footer>
      
  </footer>
</div>

<router-outlet></router-outlet>