<p>facts works!</p>
<mat-card style="color: chocolate;">{{bannerText}}</mat-card>
<!-- <div style="width: 400px; height: auto;">
    <div *ngFor="let item of faq">
        <h2>{{item.question}}</h2>
        <p style="color: blue;">
            {{item.answer}}
        </p>
    </div>
</div> -->
<div>
    <h1>FAQ</h1>
    <div style="width: 500px; height: auto;">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of faq" style="padding: 20px; height: auto;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>{{item.question}}</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-label style="color: cornflowerblue;">{{item.answer}}</mat-label>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>